@font-face {
    font-family: 'Raleway-Black';
    src: url(../Raleway/static/Raleway-Black.ttf);
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../Raleway/static/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(../Raleway/static/Raleway-Light.ttf);
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(../Raleway/static/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Raleway-Thin';
    src: url(../Raleway/static/Raleway-Thin.ttf);
}