@media (max-width: 768px) {
    .header {
        &-burger {
            display: block;
            z-index: 999;
        }

        &__nav {
            & .header__list {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                min-height: 100%;
                background: rgba(0, 0, 0, 0.8);
                backdrop-filter: blur(10px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                transition: 0.3s;
                transform: translateX(-100%);
                padding: 0;
                gap: 30px;
            }

            & .header__item {
                padding: 0;


                &:hover {
                    background: none;
                }
            }

            &.open {
                & .header__list {
                    transform: translateX(0);
                }

                & .header-burger__item:nth-child(1) {
                    background: $white;
                    transform: translate(3px, 10px) rotate(45deg);
                }

                & .header-burger__item:nth-child(2) {
                    background: $white;
                    transform: rotate(-47deg);
                }

                & .header-burger__item:nth-child(3) {
                    background: $white;
                    transform: translate(-1px, -11px) rotate(45deg);
                }
            }
        }

        &__nav {
            padding: 20px 0;
        }

        &__title {
            font-size: 54px;
        }

        &__span {
            font-size: 26px;
        }

        &__price {
            font-size: 40px;
            padding: 20px 60px;
        }

        &__list {
            display: none;
        }
    }
}

@media (max-width: 412px) {
    .header {
        &__title {
            font-size: 32px;
        }

        &__span {
            font-size: 22px;
        }

        &__txt {
            font-size: 16px;
        }
    }
}