.recipe {
    background: url('../assets/images/section_bg.png') center center / cover;
    padding: 50px 0 150px;

    &__title {
        color: $title-color;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        margin-bottom: 75px;

        &::after {
            content: '';
            width: 200px;
            height: 1px;
            background: $title-color;
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__txt {
        font-size: 18px;
        color: $white;
        line-height: 24px;

        &:nth-of-type(1) {
            margin-bottom: 35px;
        }
    }
}